<div class="container main mt-5">
	<div class="row">
		<div class="col-md-12 mt-3">
            <h1><strong>Edit Word: Admin</strong></h1>
			<%= render partial: "form" %>
        </div>
    </div>
</div>