<div class="container main">
	<div class="row">
		<div class="col-md-4 mt-3">
            <h2><strong>New Word: Admin</strong></h2>
            <hr>
        </div>
    </div>
	<%= render partial: "form" %>
</div>