<div class="container-fluid main">
	<div class="row">
		<div class="col-md-1 center-block"></div>
		<div class="col-md-3 center-block">
			<div class="row">
				<div class="col-md-12 center-block">
            		<h2><strong>Lesson: <%= @category.title %></strong></h2>
            	<hr>
            	</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1 center-block"></div>
            <div class="col-md-10 center-block bg-light" style="height:550px; width: 500px;">
                <div class="row">
                    <div class="col-md-1 center-block"></div>
                    <div class="col-md-3 d-flex align-items-center  bg-info mt-5" style="height:210px;">
                        <% @words.each do |word| %>
                        <div class="text-center">
                        <h1><strong><%= word.content %></strong></h1>
                        </div>
                    </div>
                    <div class="col-md-1 center-block"></div>
                    <div class="col-md-4 center-block mt-5">
                        <h3><strong>Choices</strong></h3>
                        <% word.choices.each do |choice| %>
                            <%= button_to choice.content, category_lessons_path(choice_id: choice.id), :action =>'index', class: "btn btn-outline-warning btn-lg btn-block mt-3 ml-4" %>
                        <% end %>
                    </div>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>