<div class="container main mt-5">
	<div class="row">
		<div class="col-md-5 mt-3">
            <h1><strong>Edit Category: Admin</strong></h1>
            <hr>
			<%= render partial: "form" %>
        </div>
    </div>
</div>