<div class="container main mt-5">
	<div class="row">
		<div class="col-md-5 mt-3">
            <h2><strong>New Category: Admin</strong></h2>
            <hr>           
			<%= render partial: "form" %>
        </div>
	</div>
</div>