// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

    h1 {
        margin-left: 20px;
    }

    .fa{
    font-size:40px;
    margin-right: 10px;
    vertical-align: middle;
    }

    .fas{
    font-size:25px;
    margin-right: 10px;
    color: #00bcd4;
    text-align: center;
    }

    .description {
        font-size: 20px;
    }

    .description li {
        margin-top: 20px;
    }

    .main {
        font-family: 'Marvel', sans-serif;
    }

    .logo {
        font-size: 50px;
        color: #FFF;
        margin-left: 20px;
        font-family: 'Berkshire Swash', cursive;
        text-decoration: none;
    }

    .form-group {
        padding-top: 10px; 
    }

    .label {
        font-weight: bold;
    }

    .alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    }

    .login {
        padding-top: 30px;
    }

    .top-image {
    margin-top: 20px;
    }


    .balloon1-left {
        position: relative;
        display: inline-block;
        margin: 1.5em 15px 1.5em 15px;
        padding: 7px 10px;
        height:100%;
        min-width: 120px;
        max-width: 80%;
        color: #555;
        font-size: 16px;
        background: #e0edff;
        border-radius: 15px;
    }

    .balloon1-left:before{
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid #e0edff;
    }

    .balloon1-left p {
        margin: 0;
        padding: 0;
    }

    hr {
        height: 1px;
        background: #bbb;
        background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
        background-image: -moz-linear-gradient(left, #eee, #777, #eee);
        background-image: -ms-linear-gradient(left, #eee, #777, #eee);
        background-image: -o-linear-gradient(left, #eee, #777, #eee);
    }

    .fa{
        font-size:40px;
        color: #00bcd4;
        margin-right: 10px;
        vertical-align: middle;
    }

    .activity-text{
        font-size: 30px;
    }

    .text-muted {
        float:right;
        padding-right: 10px;
        font-size: 20px;
    }


    .img-edit {
        height: 250px;
        width: 250px;
    }

    .update-btn {
        padding-top: 20px;
    }

    #img_tumb {
        width: 70px;
        height: 70px;
        object-fit: cover;       
    }

    #img_prev {
        width: 280px;
        height: 280px;
        object-fit: cover;
    }

    .nav-item {
        font-size: 20px;
    }

    .navbar {
        margin-top: 70px;
        float: right;
    }

    .nav-link {
        width: 100px;
        text-align: center;
        font-family: 'Berkshire Swash', cursive;
        color: #fff;
        margin-right: 5px;
        background: linear-gradient(transparent 20%, #9e9e9e 80%);

    }

    #img_prev2 {
        width: 40px;
        height: 40px;
        object-fit: cover;
    } 

    .user-table {
        height: 50px;
    }

    th {
        font-size: 25px;
        font-weight: bold;
    }

    td {
        width: 300px;
    }

    .pagenate {
        font-size: 30px;
    }

    .name {
        width: 400px;
    }

    .biography {
        width: 600px;
    }

    .admin {
        width: 100px;
        text-align: center;
    }

    .body {
        height: 650px;
    }

    .title {
        width: 400px;
    }

    .description {
        width: 600px;
    }

    .lesson-box{
        height: 400px;
         border: 1px solid #cccccc;
         box-shadow:1px 1px 6px 0px #cccccc;
         padding: 50px 10px 10px 10px;
         position: relative;
         z-index: -2;
         background: linear-gradient(transparent 20%, #b4e4fa 100%);
         margin-right: 20px;
    }
    .lesson-box:before{
         background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 10, from(#ffe5ed), to(#e50044));
         border-radius: 50%;
         box-shadow: .5px .5px 4px 1px rgba(128, 128, 128, 0.5);
         content: '';
         display: block;
         position: absolute;
         top: 5px;
         left: 50%;
         width: 15px;
         height: 15px;
         z-index: 0;
    }
    .lesson-box:after{
         background-image: linear-gradient(-80deg, transparent 47%, #333333 47%, #333333 52%, transparent 52%, transparent);
         content: '';
         position: absolute;
         top: 15px;
         left: 50%;
         width: 10px;
         height: 13px;
         z-index: -1;
    }
    .lesson-box-prep{
        height: 400px;
         border: 1px solid #cccccc;
         box-shadow:1px 1px 6px 0px #cccccc;
         padding: 50px 10px 10px 10px;
         position: relative;
         z-index: -2;
         background: linear-gradient(transparent 20%, #ebe6e6 100%);
         margin-right: 20px;
    }
    .lesson-box-prep:before{
         background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 10, from(#ffe5ed), to(#e50044));
         border-radius: 50%;
         box-shadow: .5px .5px 4px 1px rgba(128, 128, 128, 0.5);
         content: '';
         display: block;
         position: absolute;
         top: 5px;
         left: 50%;
         width: 15px;
         height: 15px;
         z-index: 0;
    }
    .lesson-box-prep:after{
         background-image: linear-gradient(-80deg, transparent 47%, #333333 47%, #333333 52%, transparent 52%, transparent);
         content: '';
         position: absolute;
         top: 15px;
         left: 50%;
         width: 10px;
         height: 13px;
         z-index: -1;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* フッタと同じ高さに設定 */
        margin-bottom: 60px;

        /* 一番下までスクロールした時の余白 */
        padding-bottom: 0;
    }

    footer {
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        width: 100%;
        height: 60px;
        background: #000000c4;
        color: #FFF;
    }

    .pagination {
        position: fixed;
        bottom: 100px;
        margin-bottom: 100px;
        width: 100%;
        padding: 3px;
        margin: 3px;
    }
    .pagination a {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #aaaadd;
        text-decoration: none;
        color: #FFF;
        background-color: #9e9e9e;
    }
    .pagination a:hover, .pagination a:active {
        border: 1px solid #1a09e8;
        color: #FFF;
    }
    .pagination span.current {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #000000;
        font-weight: bold;
        background-color: #000000;
        color: #1a09e8;
    }
    .pagination span.disabled {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #eee;
        color: #ddd;
    }

    #word_panel{
        height:210px;
        padding: 4.5em 1em;
        margin: 2em 0;
        margin-top: 100px;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
    #word_panel h1 {
        text-align: center;
        margin: 0; 
        padding: 0;
    }