// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
    
    .fa{
        font-size:40px;
        color: #00bcd4;
        margin-right: 10px;
        vertical-align: middle;
    }

    .fas{
    font-size:25px;
    margin-right: 10px;
    color: #00bcd4;
    text-align: center;
    }

    .main {
        font-family: 'Marvel', sans-serif;
        font-size: 20px;
    }

    .logo {
        font-size: 45px;
        color: #FFF;
        margin-left: 40px;
        font-family: 'Berkshire Swash', cursive;
        text-decoration: none;
    }

    .login {
        font-family: 'Marvel', sans-serif;
        font-size: 15px;        
    }

    .balloon1-left {
        position: relative;
        display: inline-block;
        margin: 1.5em 15px 1.5em 15px;
        padding: 7px 10px;
        height:95%;
        min-width: 120px;
        max-width: 80%;
        color: #555;
        font-size: 16px;
        background: #e0edff;
        border-radius: 15px;
    }

    .balloon1-left:before{
        content: "";
        position: absolute;
        top: 20%;
        left: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid #e0edff;
    }

    .balloon1-left p {
        margin: 0;
        padding: 0;
    }

    .activity-text{
        font-size: 18px;
    }

    .img-edit {
        height: 250px;
        width: 250px;
    }

    #img_tumb {
        width: 50px;
        height: 50px;
        object-fit: cover;       
    }

    #img_tumb2 {
        width: 90px;
        height: 90px;
        object-fit: cover;       
    }

    #img_prev {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .nav-item {
        font-size: 15px;
        text-align: right;
        float: right;
    }

    .navbar {
        background: url("/app/assets/images/top-image1.jpg");
        margin-top: 70px;
        width: 100%;
        height: 80px;
        float: left;
    }

    .nav-link {
        width: 95px;
        height: 40px;
        text-align: center;
        font-family: 'Berkshire Swash', cursive;
        color: #fff;
        margin-right: 5px;
        background: linear-gradient(transparent 10%, #9e9e9e 60%);
    }

    #img_prev2 {
        width: 40px;
        height: 40px;
        object-fit: cover;
    } 

    .body {
        height: 650px;
        padding-top:60px;
    }

    .lesson-box{
         height: 300px;
         border: 1px solid #cccccc;
         box-shadow:1px 1px 6px 0px #cccccc;
         padding: 50px 10px 10px 10px;
         position: relative;
         z-index: 0;
         background: linear-gradient(transparent 20%, #b4e4fa 100%);
         margin-right: 20px;
    }
    .lesson-box:before{
         background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 10, from(#ffe5ed), to(#e50044));
         border-radius: 50%;
         box-shadow: .5px .5px 4px 1px rgba(128, 128, 128, 0.5);
         content: '';
         display: block;
         position: absolute;
         top: 5px;
         left: 50%;
         width: 15px;
         height: 15px;
         z-index: 0;
    }
    .lesson-box:after{
         background-image: linear-gradient(-80deg, transparent 47%, #333333 47%, #333333 52%, transparent 52%, transparent);
         content: '';
         position: absolute;
         top: 15px;
         left: 50%;
         width: 10px;
         height: 13px;
         z-index: 0;
    }
    .lesson-box-prep{
         height: 300px;
         border: 1px solid #cccccc;
         box-shadow:1px 1px 6px 0px #cccccc;
         padding: 50px 10px 10px 10px;
         position: relative;
         z-index: 0;
         background: linear-gradient(transparent 20%, #ebe6e6 100%);
         margin-right: 20px;
    }
    .lesson-box-prep:before{
         background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 10, from(#ffe5ed), to(#e50044));
         border-radius: 50%;
         box-shadow: .5px .5px 4px 1px rgba(128, 128, 128, 0.5);
         content: '';
         display: block;
         position: absolute;
         top: 5px;
         left: 50%;
         width: 15px;
         height: 15px;
         z-index: 0;
    }
    .lesson-box-prep:after{
         background-image: linear-gradient(-80deg, transparent 47%, #333333 47%, #333333 52%, transparent 52%, transparent);
         content: '';
         position: absolute;
         top: 15px;
         left: 50%;
         width: 10px;
         height: 13px;
         z-index: 0;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
        padding-bottom: 0;
    }

    footer {
        z-index: 0;
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        width: 100%;
        height: 60px;
        background: #000000c4;
        color: #FFF;
        font-family: 'Berkshire Swash', cursive;
        font-size: 15px;
    }

    .pagination {
        z-index: 3;
        position: fixed;
        bottom: 10px;
        margin-bottom: 100px;
        width: 100%;
        padding: 3px;
        margin: 3px;
    }
    .pagination a {
        z-index: 3;
        padding: 5px 8px 5px 8px;
        margin: 2px;
        border: 1px solid #aaaadd;
        text-decoration: none;
        color: #FFF;
        background-color: #9e9e9e;
    }
    .pagination a:hover, .pagination a:active {
        z-index: 3;
        border: 1px solid #1a09e8;
        color: #FFF;
    }
    .pagination.current {
        z-index: 4;
        padding: 5px 8px 5px 8px;
        margin: 2px;
        border: 1px solid #FFFFFF;
        font-weight: bold;
        background-color: #FFFFFF;
        color: #1a09e8;
    }
    .pagination.disabled {
        z-index: 3;
        padding: 5px 8px 5px 8px;
        margin: 2px;
        border: 1px solid #eee;
        color: #ddd;
    }

    #word_panel{
        height:200px;
        padding: 4em 1em;
        margin: 2.5em 0 1.5em 0;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
    #word_panel h1 {
        text-align: center;
        margin: 0; 
        padding: 0;
    }

    .header-small {
        left:0;
        position:fixed;
        top:0;
        width:100%;
        z-index:4;
    }
        .navbar-brand.logo-small {
            font-size: 30px;
            padding-left: 70px;
            color: #FFF;
            font-family: 'Berkshire Swash', cursive;
            text-decoration: none;        
        }

    .header-large {
        padding: -70px 0;
    }


    input[type="email"] {
        font-size: 15px;
        height: 30px;
        }

    input[type="password"] {
        font-size: 15px;
        height: 30px;
        }

    input[type="text"] {
        font-size: 15px;
        height: 30px;
        }

    input[type="submit"] {
        font-size: 15px;
        height: 30px;
        padding: 0 30px;
        }

    input[type="file"] {
        font-size: 15px;
        height: 30px;
        }

    textarea.form-control {
        font-size: 15px;
        height: 30px;
        }

    .btn-outline-dark {
        font-size: 15px!important;
        }

    .btn-outline-info {
        font-size: 15px!important;
        padding-left: 14px!important;
        padding-right: 14px!important;        
    }